<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
Stripe.setPublishableKey('pk_test_XuqOrywu7nSxd6kuDyQbEsTO');

$(function($) {
  $('.payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
  function stripeResponseHandler(status, response) {
    var $form = $('.payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
});

</script>
<%= form_tag (@payment), class: "payment-form form-horizontal" do %>

  <div class="row" style="margin-top: 200px;">
    <div class="col-sm-7 col-sm-offset-1"> 
      <div class="col-xs-8">
        <label>
          <span>First Name</span>
          <input type="text" id="first_name">
        </label>
      </div>
      <div class="col-xs-8">
        <label>
          <span>Last Name</span>
          <input type="text" id="last_name">
        </label>
      </div>
    </div>
    <div class="col-sm-7">
      <span class="payment-errors"></span>

      <div class="col-xs-10">
        
          <label>
            <span>Card Number</span>
            <input type="text" size="20" data-stripe="number" placeholder="Credit Card Number"/>
          </label>
        
      </div>
      <div class="col-xs-5">
        
          <label>
            <span>CVC</span>
            <input type="text" size="4" data-stripe="cvc" placeholder="CVC" />
          </label>
        
      </div>
      <div class="col-sm-12">
  
        <div class="col-xs-6">
          <label>
            <span>Exp Month</span>
            <input type="text" size="2" data-stripe="exp-month" placeholder="Exp month"/>
          </label>
        </div>

        <div class="col-xs-1">
            <span> / </span>
        </div>

        <div class="col-xs-6">
          <label>
            <span>Exp Year</span>
            <input type="text" size="4" data-stripe="exp-year" placeholder="Exp year" />
          </label>
        </div>
        
      </div>


      </div>
    </div>
  <button type="submit" id="stripe-button">Submit Payment</button>
</form>
<% end %>
