<p id="notice"><%= notice %></p>
la
<section class="picks-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        
      </div>
      <div class="col-sm-8 col-sm-offset-2">
          <div class="picks-slider">
            <div>
                
            </div>
            <div>
                
            </div>
            <div>your content</div>
          </div>
      </div>
    </div>
  </div>
</section>

