<section class="picks-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>ACC Atlantic Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>ACC Coastal Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>ACC Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>     
  
    <hr />

    <div class="row">
      <div class="col-sm-6">
        <h6>Big12 Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>

    <hr />
    
    <div class="row">
      <div class="col-sm-6">
        <h6>BIG10 East Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>BIG10 West Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>BIG10 Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-6">
        <h6>PAC12 South Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>PAC12 North Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>PAC12 Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>    

    <hr />

    <div class="row">
      <div class="col-sm-6">
        <h6>SEC East Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>SEC West Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>SEC Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div> 

    <hr />

    <div class="row">
      <div class="col-sm-6">
        <h6>National Runner-Up</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>National Champion</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>National Championship Total Score</h6>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div> 

  </div>
</section>


<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
